<h1>Engineer#index</h1>
<p>Find me in app/views/engineer/index.html.erb</p>

 <ul>
  <% @engineers.each do |e| %>
  <li><%= e.name %></li>
<br>
  <li><%= e.image_url %></li>
  <li><%= e.title %></li>
<br>
  <article><%= e.bio %></article>
  <ul>Votes: <%= e.vote %></ul>
  <% end %>
</ul>





